.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: xx-large;
    text-align: center;
}

.subtraction {
    border: 2px solid #ff0f07;
    width: 100px;
    height: 100px;
    padding: 1em;
    margin: 10px;
    color: #ff0f07;
    display: table;
}

.number {
    border: 2px solid #0e17ff;
    width: 100px;
    height: 100px;
    padding: 1em;
    margin: 10px;
    color: #0e17ff;
    display: table;
}

.addition {
    border: 2px solid #1aff23;
    width: 100px;
    height: 100px;
    padding: 1em;
    margin: 10px;
    color: #1aff23;
    display: table;
}

b {
    display: table-cell;
    vertical-align: middle;
}