body {
    background-color: #ffb270;
    margin: 0;
    padding: 0;
}

.Game {
    margin: 0;
    padding: 0;
}

.chatField {
    background-color: white;
    border-left: 1px solid #0c5cd2;
    max-height: calc(100vh - 150px);
    overflow-y: scroll;
}

.GameContent {
    height: calc(100vh - 150px);
}

.message .hours {
    color: #757575;
    font-size: 80%;
}

.message .author {
    font-weight: bold;
}

.message .author.player {
    color: blue;
}

.message .author.opponent {
    color: red;
}

.message .noActive {
    color: #757575;
    font-size: 95%;
    font-style: italic;
}