.Header {
    background-color: #0c5cd2;
    color: white;
    font-size: xx-large;
    padding: 1rem;
}

.player-label {
    color: rgba(252, 252, 252, 0.51);
    padding: 0 10px;
}

.Category {
    text-align: center;
    background-color: #ec771e;
    border: 1px #0c5cd2;
    border-radius: 5px;
}

.Players {
    border: white 1px solid;
    border-radius: 5px;
    background-color: #094092;
    padding: 5px 10px;
    font-size: 16pt;
}

.ActualRound {
    color: white;
    text-shadow: 1px 3px 3px rgb(204, 204, 204), 0 0 0 rgb(55, 55, 55);
}
