.Header {
    background-color: #0c5cd2;
    color: white;
    font-size: xx-large;
    padding: 1rem;
}

.player-label {
    font-size: 16pt;
    padding-left: 10px;
    color: rgba(252, 252, 252, 0.51);
}

.Category {
    text-align: center;
    background-color: #ec771e;
    border: 1px #0c5cd2;
    border-radius: 5px;
}

.ActualRound {
    text-decoration: underline #00cb00;
    color: #00cb00;
}