.BottomBar {
    background-color: #0c5cd2;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

input[type="text"]:disabled {
    background: rgba(235, 235, 235, 0.7);
}

.Round {
    color: #ffffff;
    font-size: x-large;
}
